doctype html
html(lang="en", data-ng-app="pawproject")
  head
    title= title
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    // JQuery
    script(src="/bower_components/jquery/dist/jquery.min.js")

    // Boostrap
    link(rel="stylesheet", href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/stylesheets/bootstrap-sandstone.min.css")
    script(src="/bower_components/bootstrap/dist/js/bootstrap.min.js")

    // AngularJS
    script(src="/bower_components/angular/angular.js")
    script(src="/bower_components/angular-resource/angular-resource.min.js")

    // Marked
    script(src="/bower_components/marked/lib/marked.js")

    // Animate.css
    link(rel='stylesheet', href='/bower_components/animate.css/animate.min.css')

    // Wow.js
    script(src="/bower_components/wowjs/dist/wow.js")

    // Our Styles
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/feedback.css')

    // Our Scripts
    script(src="/javascripts/app.js")

    script.
        //var wow = new WOW();
        //wow.init();
  body(data-ng-controller="layoutController", data-ng-style="{ overflow: showFeedbackForm ? 'hidden' : 'auto' }")
    nav.navbar.navbar-default.navbar-fixed-top#navigation(role="navigation")
      div.container
        // Brand and toggle are grouped for better mobile display.
        div.navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#site-navbar")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/")
            img(src="/images/paw-project-logo-bright.png", style="height: 30px")
        // Group all nav content so it can be toggled on mobile displays.
        div#site-navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href="/") Home
            //li
              a(href="/blog") Blog
            li
              a(href="/faq") FAQ
            li
              a(href="/about") About
            li
              a(href="/team") The Team
            //li
              a(href="/contact") Contact
            //li
              a(href="/groups") Groups
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown") Resources
              ul.dropdown-menu
                li
                  a(href="/resources") Animal Welfare Resources
                li
                  a(href="/legislation") Anti-Declawing Legislation
            li.dropdown
              a.dropdown-toggle(href="#", data-toggle="dropdown") You Can Help <b class="caret"></b>
              ul.dropdown-menu
                li
                  a(href="/contribute") Make A Donation
                li
                  a(href="/mailinglist") Join Our Mailing List
                li
                  a(href="/whatyoucando") What You Can Do
          ul.nav.navbar-nav.navbar-right
            li
              if (!user)
                a(href="/auth/login?redirectUrl=" + currentUrl) Admin
              else
                div.auth-info-box
                  div.auth-info(style="display: inline-block;")
                    span= user.name.full
                    br
                    a(href="/auth/logout?redirectUrl=" + currentUrl) logout
                  //img.profile-photo(src="http://graph.facebook.com/" + user.facebookId + "/picture?width=40&height=40")
    div.container
      block content
      br
      //div.row.footer
        a User Agreement
        span &bull;
        a Privacy Policy
    div
      div.feedback(data-ng-click="showFeedbackForm = true", data-ng-hide="showFeedbackForm") Report a Problem
      div.modal(data-ng-show="showFeedbackForm", style="display: block;")
        div.overlay(data-ng-click="showFeedbackForm = false")
        div.modal-dialog
          div.modal-content
            div.modal-header
              button.close(type='button', data-ng-click="showFeedbackForm = false", aria-label='Close')
                span(aria-hidden='true') &times;
              h3.modal-title Report a Problem with Pawproject.org
            div.modal-body
              form.feedback-form(ng-show="showFeedbackForm")
                div.alert(
                  data-ng-show="feedbackData.status.msg"
                  data-ng-class="{'alert-success': feedbackData.status.type === 'success', 'alert-danger' : feedbackData.status.type === 'error'}"
                ) {{ feedbackData.status.msg }}
                div.form-group
                  label(for="userName") Your name
                  input.form-control(
                    name="userName",
                    placeholder="Please enter your name.",
                    data-ng-model="feedbackData.name"
                  )
                div.form-group
                  label(for="userEmail") Email <span class="text-muted">(not shared with anyone)</span>
                  input.form-control(
                    name="userName",
                    placeholder="Please enter your email.",
                    data-ng-model="feedbackData.email"
                  )
                div.form-group
                  label(for="description") Description
                  textarea.form-control(
                    name="description",
                    placeholder="Please do your best to provide a detailed description of the problem you are experiencing with our website.",
                    data-ng-model="feedbackData.description"
                  )
                button.btn.btn-primary(type="submit", data-ng-click="report()") Submit
    script.
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-7292713-18', 'auto');
      ga('send', 'pageview');
  // </body>
