extends ../layout

block content
  div(ng-app="faq", ng-controller="faqController")
    h1.wow.zoomIn Frequently Asked Questions
    if (user && user.isAdmin())
      button.btn.btn-primary.center-block(ng-click="newQuestion()") New Question
      hr
    // Show a container for each frequently asked question.
    div.item.well.wow.flipInX(
      ng-repeat="item in items",
      ng-mouseover="item.showControls = true",
      ng-mouseleave="item.showControls = false",
      id="{{item.faq._id}}"
    )
      // Either show the question as it should be shown to the user, or show an edit form.
      div(ng-switch="item.edit")
        // Show the question.
        div(ng-switch-when="false")
          // Show edit/delete controls on hover.
          if (user && user.isAdmin())
            div.controls(ng-show="item.showControls", ng-cloak)
              span.edit-item.glyphicon.glyphicon-edit(ng-click="edit(item)")
              span.remove-item.glyphicon.glyphicon-minus-sign(ng-click="remove(item)")
          div.question(id="{{item.faq._id}}")
            span {{ $index }}.&nbsp;
            span.link(ng-click="toggleItem(item, $index)") {{ item.faq.question }}
          div.answer.animated.fadeIn(ng-show="item.visible", ng-bind-html="item.parsedAnswer")
        // Show an edit form for new and existing questions.
        form(ng-switch-when="true", ng-cloak, name="form")
          div.form-group
            label(for="question") Question
            input.form-control(
              type="text",
              name="question",
              ng-model="item.faq.question",
              placeholder="Enter a frequently asked question.",
              required
            )
          div.form-group
            label(for="answer") Answer 
            textarea.form-control(
              rows="5",
              name="answer",
              ng-model="item.faq.answer",
              placeholder="Supply an answer to the question.",
              required
            )
          // Disable the save button if the required fields are not filled out or
          // the data is unchanged.
          button.btn.btn-success(
            ng-click="save(item)",
            ng-disabled="form.$invalid || isUnchanged(item)"
          ) Save
          button.btn.btn-danger.cancel-btn(ng-click="cancel(item)") Cancel
    a(id="bottom")
  // Include FAQ-specific scripts and CSS.
  script(src="/javascripts/faq.js")
  link(rel="stylesheet", href="/stylesheets/faq.css")
